<?xml version="1.0"?>
<launch>

  <!-- objects description file -->
  <param name="robot_description"
   command="$(find xacro)/xacro.py '$(find objects_description)/urdf/objects.xacro'" />
  <!-- Starting robot_state_publisher node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
  </node>

  <!-- joint_state_publisher node with GUI -->
<!--   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>  -->

</launch>
