<?xml version="1.0"?>
<launch>
  <arg name="backup" default="false"/>

  <group if="$(arg backup)">
    <node pkg="tms_db_manager" type="tms_db_reader.py"   name="tms_db_reader">
    </node>
    <node pkg="tms_db_manager" type="tms_db_writer.py"   name="tms_db_writer" args="$(arg backup)">
    </node>
    <node pkg="tms_db_manager" type="tms_db_backuper.py"  name="tms_db_backuper">
    </node>
    <node pkg="tms_db_manager" type="tms_db_publisher.py"  name="tms_db_publisher">
    </node>
  </group>

  <group unless="$(arg backup)">
    <node pkg="tms_db_manager" type="tms_db_reader.py"   name="tms_db_reader">
    </node>
    <node pkg="tms_db_manager" type="tms_db_writer.py"   name="tms_db_writer" args="$(arg backup)">
    </node>
    <node pkg="tms_db_manager" type="tms_db_publisher.py"  name="tms_db_publisher">
    </node>
  </group>

</launch>
