<launch>
  <node pkg="tms_db_manager" type="tms_db_reader"   name="tms_db_reader">
    <param name="is_debug" value="false" />
  </node>
  <node pkg="tms_db_manager" type="tms_db_writer"   name="tms_db_writer">
    <param name="is_debug" value="false" />
  </node>
  <node pkg="tms_db_manager" type="tms_db_manager"  name="tms_db_manager">
    <param name="update_time" value="0.01" />
    <param name="is_debug" value="false" />
  </node>
  <node pkg="tms_db_manager" type="tms_db_publisher"  name="tms_db_publisher">
    <param name="update_time" value="0.01" />
    <param name="is_debug" value="false" />
  </node>
</launch>
