<launch>
	<node pkg="tms_ss_ibs" type="ibs.py" name="ibs_cbnt" output="screen">
		<param name="PORT_TR"  value="/dev/ttyUSB0" />
		<param name="PORT_LC0" value="/dev/ttyACM0" />
		<param name="frame_id" value="/ics" />
		<param name="idSensor" value="3002" />
		<param name="idPlace"  value="6019" />
		<param name="z"		   value="620.0" />
	</node>
</launch>
