<launch>
  <group ns="urg1">
    <node pkg="urg_node" name="urg_node" type="urg_node">
       <param name="ip_address" value="192.168.0.10"/>
    </node>
  </group>
    <group ns="urg2">
    <node pkg="urg_node" name="urg_node" type="urg_node">
       <param name="ip_address" value="192.168.1.10"/>
    </node>
  </group>
</launch>
