
<launch>

<group ns="portable1">

  <!-- local frame name -->
  <arg name="global_frame"            value="map1"/>
  <arg name="base_footprint_combined" value="base_footprint1"/>
  <!-- <arg name="base_footprint_combined" value="base_footprint_combined1"/> -->

  <!-- server follower-->
  <node pkg="tms_rc_bot" type="server_follower" name="server_follower" output="screen">
    <param name="people_topic_name" value="/people_ninebot_cropped"/>
    <param name="goal_topic_name"   value="move_base_simple/goal"/>
    <param name="global_frame_id"   value="$(arg global_frame)"/>
    <param name="base_frame_id"     value="$(arg base_footprint_combined)"/>
  </node>

</group>
</launch>
