<?xml version="1.0"?>
<launch>
  <!-- For visualize skeleton in rViz -->
  <param name="robot_description" textfile="$(find tms_ss_kinect_v2)/urdf/skeleton.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="true"/>
</launch>
