<?xml version="1.0"?>
<launch>
  <!-- Interface -->
  <arg name="num_of_skeletons" default="12"/>
  <arg name="host_name" default="192.168.4.170"/>
  <arg name="using_numbers" default="1 2 3 4 5 6 7 8 9"/>
  <arg name="using_db" default="true"/>

  <!-- Make skeleton streams -->
  <!--<node name="skeleton_stream" pkg="tms_ss_kinect_v2" args="$(arg host_name) $(arg using_numbers)" type="skeleton_stream.py"/>-->
  <param name="using_numbers" value="$(arg using_numbers)"/>
  <node name="skeleton_integrator" pkg="tms_ss_kinect_v2" args="$(arg using_numbers)" type="skeleton_integrator" output="screen"/>
  <param name="using_db" value="$(arg using_db)"/>
  <node name="skeleton_db_stream" pkg="tms_ss_kinect_v2" type="skeleton_db_stream"/>

  <!-- For visualize furnitures in rViz -->
  <!--<group ns="tmp">-->
    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find rostms_description)/urdf/environments_standalone.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <!--<node name="tms_db_state_publisher" pkg="tms_db_state_publisher" type="tms_db_state_publisher"/>-->
  <!--</group>-->

  <!-- For visualize kinect in rViz -->
  <param name="kinect_description1"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <param name="kinect_description2"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <param name="kinect_description3"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <param name="kinect_description4"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <param name="kinect_description5"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <param name="kinect_description6"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <param name="kinect_description7"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <param name="kinect_description8"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <param name="kinect_description9"  textfile="$(find skeleton_description)/urdf/kinect_v2.urdf"/>
  <node name="kinect_state_publisher" pkg="skeleton_description" type="kinect_state_publisher"/>

  <!-- For visualize box in rViz -->
  <param name="box_description"  textfile="$(find skeleton_description)/urdf/checker_box.urdf"/>
  <node name="box_state_publisher" pkg="skeleton_description" type="box_state_publisher"/>

  <!-- For visualize skeleton in rViz -->
  <param name="skeleton_description1"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description2"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description3"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description4"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description5"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description6"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description7"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description8"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description9"  textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description10" textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description11" textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="skeleton_description12" textfile="$(find skeleton_description)/urdf/skeleton.urdf"/>
  <param name="num_of_skeletons" value="$(arg num_of_skeletons)"/>
  <node name="skeleton_state_publisher" pkg="skeleton_description" type="skeleton_state_publisher"/>
</launch>
