<?xml version="1.0"?>
<!-- Robots of ROS-TMS -->
<robot name="robots" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find smartpal5_description)/urdf/smartpal5_gazebo.urdf.xacro" />

  <xacro:macro name="robots">
    <xacro:include filename="$(find smartpal5_description)/urdf/smartpal5.urdf.xacro" />
    <smartpal5_sim/>
  </xacro:macro>
</robot>
