<?xml version="1.0"?>
<launch>

  <!-- parameter setting for robot_description -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find rostms_description)/urdf/environments_standalone_928.urdf.xacro'" />

  <!-- robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- joint_state_publisher -->
  <node name="tms_db_state_publisher" pkg="tms_db_state_publisher" type="tms_db_state_publisher"/>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rostms_description)/rviz_config/928_config.rviz" respawn="true" />

</launch>
