<?xml version="1.0"?>
<launch>

  <!-- Environment description file -->
<!--   <param name="robot_description" textfile="$(find bsen_description)/urdf/bsen.urdf" /> -->
  <param name="robot_description"
   command="$(find xacro)/xacro.py '$(find environment_description)/urdf/environment.xacro'" />
  <!-- Starting robot_state_publisher node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
    <param name="tf_prefix" value="environment" />
  </node>

  <!-- joint_state_publisher node with GUI -->
<!--   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>  -->

  <!-- Starting rviz node -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find environment_description)/rviz_config/rviz_config.rviz" respawn="true" />

</launch>
