<launch>
  <!-- Laser Visualizer -->
  <node pkg="tms_ss_pot" type="laser_visualize_multi" name="laser_visualize_multi"/>
<!--
  <node pkg="tms_ss_pot" type="laser_visualize_single" name="laser_visualize_single">
      <remap from="/laser_visualization" to="/laser_visualization1"/>
      <remap from="/LaserTracker" to="/LaserTracker1"/>
  </node>
-->

  <!-- TF -->
  <node pkg="tf" type="static_transform_publisher" name="world_2_map" args="0 0 0
 0 0 0 /world_link /map 100"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find tms_ss_pot)/maps/map_bsen_p/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  <param name="frame_id" value="map" />
</node>

  <!-- RViz -->
  <node name="rviz_tracker" pkg="rviz" type="rviz" args="-d $(find tms_ss_pot)/rviz/laser_calib.rviz" respawn="true" />

</launch>
