<launch>
  <!-- Laser Visualizer -->
  <node pkg="tms_ss_pot" type="laser_visualize_multi" name="laser_visualize_multi"/>

  <!-- TF -->
  <!--<node pkg="tf" type="static_transform_publisher" name="world_2_map" args="0 0 0
 1.5707 0 0 /world_link /map 100"/>-->

  <!-- Map server -->
  <!--<arg name="map_file" default="$(find tms_ss_pot)/maps/map_928/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  <param name="frame_id" value="map" />
</node>-->

  <!-- RViz -->
  <node name="rviz_tracker" pkg="rviz" type="rviz" args="-d $(find tms_ss_pot)/rviz_config.rviz" respawn="true" />

</launch>
