<launch>
  <!-- local map server -->
  <!-- arg name="map_file" value="$(find tms_ss_pot)/maps/map_bsen_p/map.yaml"/ -->
  <!-- <arg name="map_file" value="$(find tms_ss_pot)/maps/map_jst/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
  </node> -->

  <!-- RViz -->
  <node name="rviz_tracker" pkg="rviz" type="rviz" args="-d $(find tms_ss_pot)/rviz/tracker_config.rviz" respawn="true" />
</launch>
