<?xml version="1.0"?>
<launch>

  <!-- <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find smartpal5_gazebo)/world/standalone.world"/>
    <!-- <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/> -->
  </include>

  <!-- <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find smartpal5_gazebo)/urdf/smartpal_gazebo.urdf.xacro'" /> -->

  <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  args="-urdf -model smartpal -param robot_description"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="publish_frequency" value="100.0"/>
  </node> -->

</launch>
