<launch>
  <param name="/use_sim_time" value="true"/>

  <arg name="path" default="$(env HOME)/" />
  <arg name="file" default="test3.bag"/>

  <node pkg="rosbag" type="play" name="rosbag_player" output="screen" args="$(arg path)$(arg file)" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tms_ss_ninebot_pozyx)/rviz_config.rviz" respawn="true" />
</launch>
